// Specific CSS for your home-page
.con-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 32px;
  margin-bottom: 32px;
}

@media(max-width: 992px) {
  .con-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .con-cards {
    grid-template-columns: 1fr;
  }
}

.form-group-home {
  display: flex;
}

#search-btn-home {
  padding: 8px 16px;
}

.specialty-field, .location-field {
  margin-right: 10px;
  input {
    border-radius: 25px;
  }
  ::placeholder {
    opacity: .5;
  }
}

#specialty {
  border-radius: 25px;
  appearance: none;
  background-image: url(https://cdn1.iconfinder.com/data/icons/ios-11-ui-elements-vol-1/29/25_dropdown_menu_down_arrow-512.png);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}
