// Specific CSS for your home-page
.con-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 32px;
  margin-bottom: 32px;
}

@media(max-width: 992px) {
  .con-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .con-cards {
    grid-template-columns: 1fr;
  }
}

.con-search-form {
  display: flex;
  justify-content: center;

  .con-simple-form {
    display: flex;
    justify-items: center;
    width: 100%;
  }

  .wrapper-search-algolia {
    flex-grow: 1;
  }

  .wrapper-search-date {
    margin: 0 24px;
  }

  .form-label-hidden {
    display: none;
  }

  .default-input {
    background-color: $main-background-color;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0px 16px;
    border: none;
    height: 60px;
    border-radius: 8px;
    border: 2px transparent solid;

    &:focus {
      border: 2px $primary-color solid;
    }

  }
}

.card-philo a {
  text-decoration: none;
  color: #707070;
  &:hover {
    color: black;
  }
}


// .form-group-home {
//   display: flex;
// }

// #search-btn-home {
//   padding: 8px 16px;
// }

// .specialty-field, .location-field {
//   margin-right: 10px;
//   input {
//     border-radius: 25px;
//   }
//   ::placeholder {
//     opacity: .5;
//   }
// }
