.container-flex {
  display: flex;
  margin-bottom: 50px;
}

.title-underline {
  margin-bottom: 21px;
}

.form-part p {
  opacity: .8;
  margin-bottom: 35px;
}

.form-part {
  margin: 0 auto;
  margin-top: 45px;
  input:not([type="submit"]) {
    background-color: $secondary-background-color;
    border: none;
  }
  textarea {
    background-color: $secondary-background-color;
    border: none;
  }
  input[type="file"] {
    background-color: white;
  }
  input[type="submit"] {
    border: none;
    margin-top: 20px;
  }
}

.space-top {
  margin-top: 10px;
}

fieldset, .form-group {
  margin-top: 25px;
}
