.container-flex {
  display: flex;
  margin-bottom: 50px;
}

.title-underline {
  margin-bottom: 20px;
}

.form-part p {
  opacity: .8;
  margin-bottom: 35px;
}

.form-part {
  margin: 0 auto;
  input:not([type="submit"]) {
    background-color: $secondary-background-color;
    border: none;
  }

  input[type="file"] {
    background-color: white;
  }
  input[type="submit"] {
    border: none;
  }
}


