

.content {
  padding: 32px;
  
  p {
    margin: 0;
  }

  h1 {
    color: $high-text-color;
    margin-bottom: 32px;
    margin-top: 128px;
  }
  
  h2 {
    color: $medium-text-color;
  }

  .primary-btn {
    margin: 24px 0;
    width: 100%;
    text-align: center;

    &:hover {
      box-shadow: $box-shadow-color;
    }
  }
}

.photo {
  position: sticky;
  top: 0;
  img {
    height: 100vh;
  }
}

ul {
  padding-left: 0 ;
  margin-bottom: 0;
    li {
    display: inline-block;
    list-style: none;
    color: $medium-text-color;
    margin-right: 8px; 
    margin-bottom: 8px;

    &:hover {
      box-shadow: $box-shadow-color;
    }
  }
}
.cont-nationality {
  margin-bottom: 24px;
}

.cont-specialty {
  margin-bottom: 24px;
}

.cont-prestations {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

    h4 {
    margin-bottom: 12px;
  }
}

.cont-description {
  background-color: $secondary-background-color;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;

    p {
      margin: 0;
    }
}
.prestation {
  border: 1px $border-color solid;
  padding: 8px 16px;
  border-radius: 25px;
}

.form {
  width: 200px;
  display: inline;  
}

.btn-book {
  font-family: $body-font;
  border: 5px $primary-color solid;
  padding: 8px 16px;
  border-radius: 25px;
  text-align: center;
  color: $primary-color;
  font-size: $h3;
  margin-top: 32px;
  font-weight: bold;
}

.btn-book:hover {
  text-decoration: none;
  font-size: 28px;
  transition: all 0.3s ease;
  color: $primary-hover;
  border: 5px $primary-hover solid;
}

