<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1542202793-40a53b954ecd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1 class="title">Enjoy wisdom</h1>
    <p class="body-strong">Rent a philosopher and enjoy little wisdom nuggets dropped at your feet.</p>
    <%= link_to 'Rechercher', philosophers_path, class: "primary-btn" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="con-cards">
        <div class="card-philo">
          <div class="con-photo">
            <%= image_tag 'https://source.unsplash.com/random/400x600', alt: "category", class: 'img-card-philo' %>
          </div>
          <div class="con-text">
            <h4 class="title">Category</h4>
            <p class="body-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-philo">
          <div class="con-photo">
            <%= image_tag 'https://source.unsplash.com/random/400x600', alt: "category", class: 'img-card-philo' %>
          </div>
          <div class="con-text">
            <h4 class="title">Category</h4>
            <p class="body-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-philo">
          <div class="con-photo">
            <%= image_tag 'https://source.unsplash.com/random/400x600', alt: "category", class: 'img-card-philo' %>
          </div>
          <div class="con-text">
            <h4 class="title">Category</h4>
            <p class="body-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
