<div class="popup-photo">
  <% if philosopher.photo.attached? %>
    <%= cl_image_tag philosopher.photo.key, crop: :fill, height:200 %>
  <% end %>
</div>
<div class="popup-content">
  <h5 class="title"><%= philosopher.last_name %></h5>
  <p class="title"><%= philosopher.address %></p>
</div>
