<div class="popup-photo">
  <% if philosopher.photo.attached? %>
    <%= cl_image_tag philosopher.photo.key, crop: :fill, height:200 %>
  <% end %>
</div>
<div class="popup-content">
  <p class="title"><%= philosopher.last_name %></p>
  <p-small class="title"><%= philosopher.address %></p-small>
  <p class="title popup-price"><span class="bold"><%= philosopher.price_per_night %></span>€/night</p>
</div>
