<h1>All philosophers</h1>

<ul>
  <% @philosophers.each do |philosopher| %>
  <li>
    <% if philosopher.first_name?  %>
      <%= philosopher.first_name philosopher.last_name %>
    <% else %>
      <%= philosopher.last_name %>
    <% end %>
    <%= philosopher.description %>
  </li>
  <% end %>
</ul>
