<h1>All philosophers</h1>

<ul>
  <% @philosophers.each do |philosopher| %>
  <li>
    <% if philosopher.first_name?  %>
      <%= philosopher.first_name philosopher.last_name %>
    <% else %>
      <%= philosopher.last_name %>
    <% end %>
    <%= philosopher.description %>
  </li>
  <% end %>
</ul>

<div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="MAPBOX_API_KEY=pk.eyJ1IjoiaHVnby1sYXZvcmVsIiwiYSI6ImNrZGE2d3VlNjFheHIyd3NjNWFhbTI3dzUifQ.xLoGGR7CP55grxY2oZNYxA">
</div>
