.con-form {
  padding: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: $secondary-background-color;
  border-radius: 24px;
  box-shadow: $box-shadow-color;

  h1 {
    margin: 0;
  }

  p {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .primary-btn {
    border: none;
    width: 100%;
  }

  .default-input:focus {
    border: none;
    outline: 0;
    box-shadow: $box-shadow-form;
  }

}