.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: $main-background-color;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 24px;
  }

  p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: $main-background-color;
    max-width: 34em;
    margin-bottom: 24px;
  }
}
