#map {
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  width: 240px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0;
  border-radius: 16px;
  box-shadow: $box-shadow-color;
  p {
    color: $high-text-color;
    margin: 0;
  }
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.popup-photo {
  img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    object-fit: cover;
  }
}

.popup-content {
  padding: 8px;
  text-align: left;
  text-decoration: none;
  &:hover {
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
  }
}
