.navbar-lewagon {
  justify-content: space-between;
  background: $main-background-color;
  height: 80px;

  a {
    color: $high-text-color;
    text-decoration: none;

    h4 {
      margin: 0;
      color: $primary-color;
    }
  }

  .primary-btn {
    padding: 8px 16px;
    color: $main-background-color;
    font-weight: $regular;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.b-bottom {
  border-bottom: 1px solid $border-color;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
